<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="">Danh sách bài tập</a>
      &emsp;
      <form class="form-inline">
      <input class="form-control mr-sm-2" name="ttTimKiem" type="search" placeholder="Nhập thông tin" aria-label="Search" required maxlength="20">
      <!-- <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Tìm kiếm</button> -->
      <input type="submit" name="btnTimKiem" class="btn btn-outline-dark" value="Tìm kiếm">
    </form>
</nav>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="listBaiTap">
  <thead>
    <tr>
      <th>Mã bài tập</th>
      <th>Tên bài tập</th>
      <th>Nội dung</th>
      <th>Danh mục</th>
      <th>Mô tả</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let baitap of listBaiTap">
      <td>{{ baitap.maBaiTap }}</td>
      <td>{{ baitap.tenBaiTap }}</td>
      <td>
        <Button type="button" class="btn btn-outline-dark" (click)="createModal(baitap.maBaiTap)" data-target="#noiDungBT" data-toggle="modal">
            Hiện nội dung
        </Button>
      </td>
      <td>{{ baitap.danhMuc }}</td>
      <td>{{ baitap.moTa }}</td>
    </tr>

      <!-- Modal -->
      <!-- <div class="modal fade" id="noiDungBT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" *ng="tenBaiTap, noiDungBT">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">tenBaiTap</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                noiDungBT
            </div>
          </div>
        </div>
      </div> -->
   }
  </tbody>
</table>
