
LEnglish/
.vs/LEnglish/config/applicationhost.config
.vs/LEnglish/v16/.suo
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.BLL.deps.json
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.BLL.dll
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.BLL.pdb
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.BLL.runtimeconfig.dev.json
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.Common.dll
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.Common.pdb
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.DAL.dll
LEnglish.BLL/bin/Debug/netcoreapp3.1/LEnglish.DAL.pdb
LEnglish.BLL/NguoiDungSvc.cs
LEnglish.BLL/obj/Debug/netcoreapp3.1/LEnglish.BLL.assets.cache
LEnglish.BLL/obj/Debug/netcoreapp3.1/LEnglish.BLL.csproj.CoreCompileInputs.cache
LEnglish.BLL/obj/Debug/netcoreapp3.1/LEnglish.BLL.csprojAssemblyReference.cache
LEnglish.BLL/obj/Debug/netcoreapp3.1/LEnglish.BLL.dll
LEnglish.BLL/obj/Debug/netcoreapp3.1/LEnglish.BLL.pdb
LEnglish.BLL/obj/LEnglish.BLL.csproj.nuget.dgspec.json
LEnglish.BLL/obj/LEnglish.BLL.csproj.nuget.g.props
LEnglish.BLL/obj/project.assets.json
LEnglish.BLL/obj/project.nuget.cache
LEnglish.Common/bin/Debug/netcoreapp3.1/LEnglish.Common.dll
LEnglish.Common/bin/Debug/netcoreapp3.1/LEnglish.Common.pdb
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.assets.cache
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.csproj.CoreCompileInputs.cache
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.csprojAssemblyReference.cache
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.pdb
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.dll
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.csproj.FileListAbsolute.txt
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.assets.cache
LEnglish.Common/bin/Debug/netcoreapp3.1/LEnglish.Common.pdb
LEnglish.Common/bin/Debug/netcoreapp3.1/LEnglish.Common.dll
LEnglish.Common/obj/LEnglish.Common.csproj.nuget.dgspec.json
LEnglish.Common/obj/Debug/netcoreapp3.1/LEnglish.Common.pdb
LEnglish.Common/obj/LEnglish.Common.csproj.nuget.g.props
LEnglish.Common/obj/project.assets.json
LEnglish.Common/obj/project.nuget.cache
LEnglish.DAL/bin/Debug/netcoreapp3.1/LEnglish.Common.pdb
LEnglish.DAL/bin/Debug/netcoreapp3.1/LEnglish.DAL.deps.json
LEnglish.DAL/bin/Debug/netcoreapp3.1/LEnglish.DAL.dll
LEnglish.DAL/bin/Debug/netcoreapp3.1/LEnglish.DAL.pdb
LEnglish.DAL/bin/Debug/netcoreapp3.1/LEnglish.DAL.runtimeconfig.dev.json
LEnglish.DAL/LEnglishDBContext.cs
LEnglish.DAL/obj/Debug/netcoreapp3.1/LEnglish.DAL.assets.cache
LEnglish.DAL/obj/Debug/netcoreapp3.1/LEnglish.DAL.csproj.CoreCompileInputs.cache
LEnglish.DAL/obj/Debug/netcoreapp3.1/LEnglish.DAL.csprojAssemblyReference.cache
LEnglish.DAL/obj/Debug/netcoreapp3.1/LEnglish.DAL.csprojAssemblyReference.cache
LEnglish.DAL/obj/Debug/netcoreapp3.1/LEnglish.DAL.dll
LEnglish.DAL/obj/Debug/netcoreapp3.1/LEnglish.DAL.pdb
LEnglish.DAL/obj/LEnglish.DAL.csproj.nuget.dgspec.json
LEnglish.DAL/obj/LEnglish.DAL.csproj.nuget.g.props
LEnglish.DAL/obj/project.assets.json
LEnglish.DAL/obj/project.nuget.cache
LEnglish.Web/ClientApp/package.json
LEnglish.Web/ClientApp/package.json
*.json
LEnglish.DAL/obj/project.assets.json
LEnglish.DAL/obj/LEnglish.DAL.csproj.nuget.g.props
