USE [master]
GO
/****** Object:  Database [LEnglishDB]    Script Date: 5/24/2020 4:20:07 PM ******/
CREATE DATABASE [LEnglishDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_lenglish', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_lenglish.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_lenglish_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_lenglish_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LEnglishDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LEnglishDB]
GO
/****** Object:  Table [dbo].[BaiTap]    Script Date: 5/24/2020 4:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiTap](
	[MaBaiTap] [nvarchar](20) NOT NULL,
	[TenBaiTap] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DanhMuc] [nvarchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_bai_tap] PRIMARY KEY CLUSTERED 
(
	[MaBaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 5/24/2020 4:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[MaBangDiem] [int] NOT NULL,
	[MaBaiTap] [nvarchar](20) NOT NULL,
	[TenDangNhap] [nvarchar](30) NOT NULL,
	[SoCauHoi] [int] NULL,
	[SoCauDung] [int] NULL,
	[Diem] [float] NULL,
	[TinhTrang] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_bang_diem] PRIMARY KEY CLUSTERED 
(
	[MaBangDiem] ASC,
	[MaBaiTap] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapBac]    Script Date: 5/24/2020 4:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapBac](
	[MaCapBac] [nvarchar](20) NOT NULL,
	[TenCapBac] [nvarchar](30) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_cap_bac] PRIMARY KEY CLUSTERED 
(
	[MaCapBac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 5/24/2020 4:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [nvarchar](20) NOT NULL,
	[NoiDungCauHoi] [nvarchar](max) NULL,
	[CauTraLoi] [nvarchar](max) NULL,
	[DapAn] [nvarchar](max) NULL,
	[BaiTap] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_cau_hoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 5/24/2020 4:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [nvarchar](10) NOT NULL,
	[TenDanhMuc] [nvarchar](30) NOT NULL,
	[CapBac] [nvarchar](20) NULL,
	[MoTa] [nvarchar](100) NULL,
	[GhiChu] [nchar](100) NULL,
 CONSTRAINT [PK_danh_muc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/24/2020 4:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] NOT NULL,
	[TenDangNhap] [nvarchar](30) NOT NULL,
	[MatKhau] [nvarchar](30) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [nvarchar](30) NULL,
 CONSTRAINT [PK_nguoi_dung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangDiem] ([MaBangDiem], [MaBaiTap], [TenDangNhap], [SoCauHoi], [SoCauDung], [Diem], [TinhTrang], [GhiChu]) VALUES (1, N'D-TEC50-1', N'nbdat', 5, NULL, NULL, N'Unfinished', NULL)
INSERT [dbo].[BangDiem] ([MaBangDiem], [MaBaiTap], [TenDangNhap], [SoCauHoi], [SoCauDung], [Diem], [TinhTrang], [GhiChu]) VALUES (2, N'D-TEC50-1', N'nxhung', 5, 5, 10, N'Finished', NULL)
INSERT [dbo].[CapBac] ([MaCapBac], [TenCapBac], [MoTa], [GhiChu]) VALUES (N'ILS4', N'IELTS 4.0', NULL, NULL)
INSERT [dbo].[CapBac] ([MaCapBac], [TenCapBac], [MoTa], [GhiChu]) VALUES (N'ILS5', N'IELTS 5.5', NULL, NULL)
INSERT [dbo].[CapBac] ([MaCapBac], [TenCapBac], [MoTa], [GhiChu]) VALUES (N'ILS7', N'IELTS 7.0', NULL, NULL)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDungCauHoi], [CauTraLoi], [DapAn], [BaiTap], [GhiChu]) VALUES (N'D-ILS4-1-1', N'1. According to the first paragraph an American is allowed ___.', N'to live in a different university/to take a particular course in a different university/to get two degree from two different university/to study at home', N'to take a particular course in a different university', N'D-ILS4-1', NULL)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDungCauHoi], [CauTraLoi], [DapAn], [BaiTap], [GhiChu]) VALUES (N'D-ILS4-1-2', N'2. Which of the following is useful for students’ future career?', N'an attendance record/a military record/an academic record/a disciplinary record', N'an academic record', N'D-ILS4-1', NULL)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDungCauHoi], [CauTraLoi], [DapAn], [BaiTap], [GhiChu]) VALUES (N'D-ILS4-1-3', N'3. American university students are usually under pressure of work because ___.', N'their university performance will affect their future careers/they are heavily involved in students affairs/they have to observe strict university regulations/they are interested in running for positions in student organizations', N'their university performance will affect their future careers', N'D-ILS4-1', NULL)
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [CapBac], [MoTa], [GhiChu]) VALUES (N'D-ILS4', N'Đọc ILS4', N'ILS4', NULL, NULL)
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [CapBac], [MoTa], [GhiChu]) VALUES (N'D-ILS5', N'Đọc ILS5', N'ILS5', NULL, NULL)
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [CapBac], [MoTa], [GhiChu]) VALUES (N'D-ILS7', N'Đọc ILS7', N'ILS7', NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TenNguoiDung], [GioiTinh], [NgaySinh], [Email]) VALUES (1, N'nbdat', N'dat123', N'Ba Dat', N'Nam', CAST(N'1999-07-31T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TenNguoiDung], [GioiTinh], [NgaySinh], [Email]) VALUES (2, N'dqminh', N'minh123', N'Dang Minh', N'Nam', CAST(N'1999-08-16T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TenNguoiDung], [GioiTinh], [NgaySinh], [Email]) VALUES (3, N'dqdong', N'dong123', N'Quy Dong', N'Nam', CAST(N'1999-04-24T00:00:00.000' AS DateTime), N'quydong123@gmail.com')
SET ANSI_PADDING ON
GO
/****** Object:  Index [u_tendangnhap]    Script Date: 5/24/2020 4:20:07 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [u_tendangnhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
