<div>
    <h1>Reading</h1>
    <div class="view-header">
        <p>Here you can find activities to practise your reading skills. Reading will help you to improve your understanding of the language and build your vocabulary..</p>

        <p>The self-study lessons in this section are written and organised according to the levels of the Common European Framework of Reference for languages (CEFR). 
            There are different types of texts and interactive exercises that practise the reading skills you need to do well in your studies, to get ahead at work and to communicate in English in your free time.</p>

        <p>Take our free online English test to find out which level to choose. Select your level, from
            beginner (IELTS) to advanced (TOEIC), and improve your reading skills at your own speed,
            whenever
            it's convenient for you.</p>
    </div>
    <h2>Choose your level to practise your reading</h2>
    <div class="view-content">
        <div class="row">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img src="./assets/Images/listen1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">IELTS</h5>
                    <p class="card-text">Reading practice to help you understand simple information, words and sentences about known topics. Texts include posters, messages, forms and timetables. </p>
                    <a [routerLink]="['/reading/level', 'D-ILS']" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img src="./assets/Images/listen2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mover</h5>
                    <p class="card-text">Reading practice to help you understand simple texts and find specific information in everyday material. Texts include emails, invitations, personal messages, tips, notices and signs. </p>
                    <a [routerLink]="['/reading/level', 'D-MVR']" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img src="./assets/Images/listen3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Starter</h5>
                    <p class="card-text">Reading practice to help you understand texts with everyday or job-related language. Texts include articles, travel guides, emails, adverts and reviews.</p>
                    <a [routerLink]="['/reading/level', 'D-STR']" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img src="./assets/Images/listen4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TOEIC</h5>
                    <p class="card-text">Reading practice to help you understand texts with a wide vocabulary where you may need to consider the writer's opinion. Texts include articles, reports, messages, short stories and reviews.</p>
                    <a [routerLink]="['/reading/level', 'D-TEC']" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Choose Content Lesson -->
