<div *ngIf = "ielt">
    <h1>IELTS</h1>
    <div class="view-header">
        <p>Are you a beginner (IELTS) learner of English? This section offers reading practice to help you understand simple information, words and sentences about known topics. Texts include posters, messages, forms and timetables.</p>

        <p>Each lesson has a preparation task, a reading text and two tasks to check your understanding and to practise a variety of reading skills. Make a start today.
        </p>
    </div>
    <h2>Choose a reading lesson</h2>
    <div class="view-content" *ngIf = "dsbaiDoc">
        <div class="row" *ngFor="let baidoc of dsbaiDoc.data">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img [src]="chuoi" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{baidoc.tenBaiTap}}</h5>
                    <p class="card-text">{{baidoc.moTa}}</p>
                    <a [routerLink]="['/reading/level/lesson', baidoc.maBaiTap]" class="btn btn-primary">Practice Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf = "mvr"> 
    <h1>Mover</h1>
    <div class="view-header">
        <p>Are you a pre-intermediate (Mover) learner of English? This section offers reading practice to help you understand simple texts and find specific information in everyday material. Texts include emails, invitations, personal messages, tips, notices and signs.</p>

        <p>Each lesson has a preparation task, a reading text and two tasks to check your understanding and to practise a variety of reading skills. Make a start today.
        </p>
    </div>
    <h2>Choose a reading lesson</h2>
    <div class="view-content" *ngIf = "dsbaiDoc">
        <div class="row" *ngFor="let baidoc of dsbaiDoc.data">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img [src]="chuoi" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{baidoc.tenBaiTap}}</h5>
                    <p class="card-text">{{baidoc.moTa}}</p>
                    <a [routerLink]="['/reading/level/lesson', baidoc.maBaiTap]" class="btn btn-primary">Practice Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf = "str"> 
    <h1>Starter</h1>
    <div class="view-header">
        <p>Are you an intermediate (Starter) learner of English? This section offers reading practice to help you understand texts with everyday or job-related language. Texts include articles, travel guides, emails, adverts and reviews..</p>

        <p>Each lesson has a preparation task, a reading text and two tasks to check your understanding and to practise a variety of reading skills. Make a start today.
        </p>
    </div>
    <h2>Choose a reading lesson</h2>
    <div class="view-content" *ngIf = "dsbaiDoc">
        <div class="row" *ngFor="let baidoc of dsbaiDoc.data">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img [src]="chuoi" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{baidoc.tenBaiTap}}</h5>
                    <p class="card-text">{{baidoc.moTa}}</p>
                    <a [routerLink]="['/reading/level/lesson', baidoc.maBaiTap]" class="btn btn-primary">Practice Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf = "tec"> 
    <h1>TOEIC</h1>
    <div class="view-header">
        <p>Are you an upper intermediate (TOEIC) learner of English? This section offers reading practice to help you understand texts with a wide vocabulary where you may need to consider the writer's opinion. Texts include articles, reports, messages, short stories and reviews.</p>

        <p>Each lesson has a preparation task, a reading text and two tasks to check your understanding and to practise a variety of reading skills. Make a start today.
        </p>
    </div>
    <h2>Choose a reading lesson</h2>
    <div class="view-content" *ngIf = "dsbaiDoc">
        <div class="row" *ngFor="let baidoc of dsbaiDoc.data">
            <div class="card col-3" class="cardgroup" style=" margin-right: auto;">
                <img [src]="chuoi" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{baidoc.tenBaiTap}}</h5>
                    <p class="card-text">{{baidoc.moTa}}</p>
                    <a [routerLink]="['/reading/level/lesson', baidoc.maBaiTap]" class="btn btn-primary">Practice Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>