<div class="container" >
  <!-- <h1 class = "item col">
    Home
  </h1>
  <h1 class = "item col">
    Counter
  </h1>
  <h1 class = "item col">
    Fetch data
  </h1> -->
  <div class="row">
    <div class="col-8" style="padding: 0px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/Images/pic1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/Images/pic2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/Images/pic3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    
    <div class="col-3">
      <script id="lbdict_plugin_frame" type="text/javascript">!function(){var h={s:"https://dict.laban.vn",w:400,h:400,hl:2,th:3};function loadScript(t,e){var n=document.createElement("script");n.type="text/javascript",n.readyState?n.onreadystatechange=function(){("loaded"===n.readyState||"complete"===n.readyState)&&(n.onreadystatechange=null,e())}:n.onload=function(){e()},n.src=t,q=document.getElementById("lbdict_plugin_frame"),q.parentNode.insertBefore(n,q)}setTimeout(function(){loadScript("https://stc-laban.zdn.vn/dictionary/js/plugin/lbdictplugin.frame.min.js",function(){lbDictPluginFrame.init(h)})},1e3); }();</script>
    </div>
  </div>

<br>

  <div class="row">
    <div class="card col-3"  style=" margin-right:auto;">
      <img src="./assets/Images/reading.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reading</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/reading" class="btn btn-primary">Practise Reading</a>
      </div>
    </div>
    <div class="card col-3" style=" margin-right:auto ;">
      <img src="./assets/Images/listening.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Listening</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/listening" class="btn btn-primary">Practise Listening</a>
      </div>
    </div>
    <div class="card col-3" >
      <img src="./assets/Images/writing.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Writing</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/writting" class="btn btn-primary">Practise Writing</a>
      </div>
    </div>
  </div>
</div>
















